@charset "ISO-8859-1";
h1 {
  color: red;
  text-align: center;
}
.register{
	color:black;
	text-align: center;
}
.form-group label{
	width:7em;
	display: inline-block;
}
body {
  background-image: url("C:\Users\Michael Alexander\Pictures\Saved Pictures\desktop.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
